extends ../../layouts/application

block content
  img.src(src=`${user.photos[0].value}`, alt=`Photo of ${user.displayName}`)
  p=user.displayName
  p=user._json.city

  each activity in activities
    if activity.map.summary_polyline
      a.index-activity(href=`activity/${activity.id}`)
        p=activity.name
    unless activity.map.summary_polyline
        p=activity.name