extends ../../layouts/application

block content
  div.profile
    img.profile__image.src(src=`${user.photos[0].value}`, alt=`Photo of ${user.displayName}`)
    div.profile__text
      p.is-bold.f2=user.displayName
      p.f3=user._json.city
  each activityGroup in Object.values(activitiesByWeek)
    - const startOfWeek = activityGroup[0].getStartOfWeek().format('dddd MMMM, D')
    - const endOfWeek = activityGroup[0].getEndOfWeek().format('dddd MMMM, D')
    p=`${startOfWeek} to ${endOfWeek}`
    div.activities-wrapper
    each activity in Object.values(activityGroup)
      if activity.map.summary_polyline
        a.index-activity.index-activity--active(href=`activities/${activity.id}`)
          p=activity.name
      else
        div.index-activity.index-activity--inactive
          p=activity.name