extends ../layout

block styles
  link(rel="stylesheet", href="https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css")

block scripts
  script(src="https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js")
  script(src="/dist/MapEditor.bundle.js")

block content
  p=activity.name
  .mapbox-hidden
    #map-container.mapbox-hidden__map(data-coords=coordinates)(data-bounds=bounds)(data-distance=activity.distance)(data-time=activity.moving_time)
  include partials/map-form
  include partials/loading-state
  .map-container
    canvas.map-container__canvas-layer
    img.map-container__map-layer.js-map-img(src="", alt=`Map of your ${activity.name} activity`)
  a#downloadLink(href="", download="map.png") Download ↓